
h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: bolder;
    animation-name: hanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes hanimation {
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0.5);
    }
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    width: 280px;
    height: 350px;
    background-color: rgb(142, 172, 142);
    margin: 20px;
    box-shadow: 2px 2px 10px rgb(142, 172, 142);
}

.item:hover{
    background-color: blue;
    color: white;
}

.item:hover .btn{
    background-color: rgb(216, 216, 252);
    color: blue;
}

img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 17px;
}

h4{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    padding-bottom: 5px;
}

.btn{
    padding: 10px 20px;
    border: 0px solid black;
    border-radius: 10px;
    display: block;
    margin: auto;
    color: white;
    background-color: blue;
}

.btn:hover{
    background-color: rgb(219, 219, 241);
    color: blue;
}

@media (min-width:300px) and (max-width:600px) {
    body{
        background-color: beige;
    }

    .item:hover{
        background-color: rgb(19, 73, 104);
        color: rgb(30, 190, 30);
    }

    .item:hover .btn{
        background-color: red;
    }
}